<!DOCTYPE html>
<html>
<head>
    <title>Database Display</title>
</head>
<body>
    <h1>Items in the Database:</h1>
    <table>
        <tr>
            <th>User ID</th>
            <th>Grade</th>
            <th>School</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.user_id }}</td>
            <td>{{ item.grade }}</td>
            <td>{{ item.school }}</td>
            <td>{{ item.created_at }}</td>
            <td>{{ item.updated_at }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
